# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Astro
dist/
.astro/

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Excel temp
~$*.xlsx

# Output
*.log